# Stage One: Data Overview

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('../data/movies_and_shows.csv', sep=";", header=1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85579 entries, 0 to 85578
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          85579 non-null  int64
 1   Character     85579 non-null  object
 2   r0le          85579 non-null  object
 3   TITLE         85579 non-null  object
 4     Type        85578 non-null  object
 5   release Year  85579 non-null  object
 6   genres        85579 non-null  int64
 7   imdb sc0re    85579 non-null  object
 8   imdb v0tes    80970 non-null  float64
 9   Unnamed: 9    80853 non-null  float64
dtypes: float64(2), int64(2), object(6)
memory usage: 6.5+ MB

In [ ]:
# Obtaining the first 10 rows of our data
df.head(10)

,name,Character,r0le,TITLE,Type,release Year,genres,imdb sc0re,imdb v0tes,Unnamed: 9
0,0,Robert De Niro,Travis Bickle,ACTOR,Taxi Driver,MOVIE,1976,"['drama', 'crime']",8.2,808582.0
1,1,Jodie Foster,Iris Steensma,ACTOR,Taxi Driver,MOVIE,1976,"['drama', 'crime']",8.2,808582.0
2,2,Albert Brooks,Tom,ACTOR,Taxi Driver,MOVIE,1976,"['drama', 'crime']",8.2,808582.0
3,3,Harvey Keitel,Matthew 'Sport' Higgins,ACTOR,Taxi Driver,MOVIE,1976,"['drama', 'crime']",8.2,808582.0
4,4,Cybill Shepherd,Betsy,ACTOR,Taxi Driver,MOVIE,1976,"['drama', 'crime']",8.2,808582.0
5,5,Peter Boyle,Wizard,ACTOR,Taxi Driver,MOVIE,1976,"['drama', 'crime']",8.2,808582.0
6,6,Leonard Harris,Senator Charles Palantine,ACTOR,Taxi Driver,MOVIE,1976,"['drama', 'crime']",8.2,808582.0
7,7,Diahnne Abbott,Concession Girl,ACTOR,Taxi Driver,MOVIE,1976,"['drama', 'crime']",8.2,808582.0
8,8,Gino Ardito,Policeman at Rally,ACTOR,Taxi Driver,MOVIE,1976,"['drama', 'crime']",8.2,808582.0
9,9,Martin Scorsese,Passenger Watching Silhouette,ACTOR,Taxi Driver,MOVIE,1976,"['drama', 'crime']",8.2,808582.0

In [15]:
# Getting the info of our dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85579 entries, 0 to 85578
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          85579 non-null  int64
 1   Character     85579 non-null  object
 2   r0le          85579 non-null  object
 3   TITLE         85579 non-null  object
 4     Type        85578 non-null  object
 5   release Year  85579 non-null  object
 6   genres        85579 non-null  int64
 7   imdb sc0re    85579 non-null  object
 8   imdb v0tes    80970 non-null  float64
 9   Unnamed: 9    80853 non-null  float64
dtypes: float64(2), int64(2), object(6)
memory usage: 6.5+ MB

**Conclusions**

Each row in the table stores data about a movie or show. The columns can be divided into two categories: the first is about the roles held by different people who worked on the movie or show (role, name of the actor or director, and character if the row is about an actor); the second category is information about the movie or show itself (title, release year, genre, imdb figures).

It's clear that there is sufficient data to do the analysis and evaluate our assumption. However, to move forward, I need to preprocess the data.